footer {
  position: absolute;
  width: 100%;
  .container {
    p {
      font-family: 'Futura', sans-serif;
      color: #ffffff;
      @media(min-width: 768px) {
        display: inline;
      }
    }
    a {
      opacity: 0.5;
      transition: 0.25s all ease;
      -webkit-transition: 0.25s all ease;
      -moz-transition: 0.25s all ease;
      -o-transition: 0.25s all ease;
      &:hover {
        color: #8b6e4a;
        text-decoration: none;
      }
    }
    span {
      width: 100%;
      background-color: red;
    }
    .footer-logo {
      display: inline;
      float: right;
      height: 10px;
      margin-bottom: 1rem;
      padding: 0 35px 0 0;
      opacity: 0.5;
      @media (min-width: 544px) {
        height: 15px;
      }
      @media (min-width: 768px) {
        height: 20px;
      }
      @media (min-width: 992px) {
        height: 25px;
      }
      @media (min-width: 1200px) {
        height: 30px;
      }
    }
  }
  @media(min-width: 554px) {
    position: fixed;
    bottom: 0;
  }
}
.fixed-override {
  position: fixed;
  bottom: 0;
}
