footer {
  position: absolute;
  width: 100%;
  .container {
    p {
      font-family: 'Futura', sans-serif;
      color: #ffffff;
      @media(min-width: 768px) {
        display: inline;
      }
    }
    a {
      opacity: 0.5;
      transition: 0.25s all ease;
      -webkit-transition: 0.25s all ease;
      -moz-transition: 0.25s all ease;
      -o-transition: 0.25s all ease;
      &:hover {
        color: #8b6e4a;
        text-decoration: none;
      }
    /*  &:nth-of-type(1) {
        @media(max-width: 768px) {
          position: absolute;
          width: 100%;
          left: 0;
          text-align: center;
          bottom: 8vh;
        }
      } */
    }
    .test {
      display: inline;
      a {
        display: inline;
      }
      @media(max-width: 768px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        text-align: center;
        bottom: 8vh;
      }
    }
    @media(max-width: 768px) {
      span {
        position: absolute;
        left: 0;
        bottom: 2vh;
        width: 100%;
        padding: 0 10%;
        a {
          position: static !important;
          width: auto;
        }
        .footer-logo {
          width: 25% !important;
          padding: 0 !important;
        }
      }
    }
    .footer-logo {
      display: inline;
      float: right;
      height: 12px;
      margin-bottom: 1rem;
      padding: 0 35px 0 0;
      opacity: 0.5;
      @media (min-width: 544px) {
        height: 12px;
      }
      @media (min-width: 768px) {
        height: 16px;
      }
      @media (min-width: 992px) {
        height: 20px;
      }
      @media (min-width: 1200px) {
        height: 24px;
      }
    }
  }
  @media(min-width: 554px) {
    position: fixed;
    bottom: 0;
  }
  @media(max-width: 768px) {
    margin-top: 15vh;
  }
}
.fixed-override {
  position: fixed;
  bottom: 0;
}
