@import 'type';
@import 'nav';
@import 'footer';
.container-fluid {
  opacity: 0.75;
  @media(min-width: 768px) {
    height: 100vh;
  }
  h1 {
    margin-top: 35vh;
  }
  a {
    padding: 5px;
    border: 1px solid #8b6e4a;
    transition: 0.25s all ease;
    -webkit-transition: 0.25s all ease;
    -moz-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    &:hover {
      background-color: #8b6e4a;
      opacity: 0.8;
      text-decoration: none;
      color: #ffffff;
    }
  }
}
.page-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
} /*
.home-background {
  background: url('../img/home-bg.jpg');
}
.about-background {
  background: url('../img/about-bg.jpg');
}
.menu-background {
  background: url('../img/menus-bg.jpg');
}
.photos-background {
  background: url('../img/photos-bg.jpg');
}
.events-background {
  background: url('../img/events-bg.jpg');
}
.contact-background {
  background: url('../img/contact-bg.jpg');
}
.press-background {
  background: url('../img/press-bg.png');
}*/
#page-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin-top: 11.5vh;
  background-color: #000000;
  opacity: 0.5;
  transform: skew(0deg, 9.49deg);
  -ms-transform: skew(0deg, 9.49deg);
  -webkit-transform: skew(0deg, 9.49deg);
  transform-origin: top left;
}
#home {
  width: 100%;
  height: 100vh;
}
#about {
  width: 100%;
  h1 {
    margin-bottom: 5vh;
  }
  .col-sm-6 {
    @media(min-width: 768px) {
      &:nth-of-type(1) {
        padding-left: 10%;
      }
      &:nth-of-type(2) {
        padding-right: 10%;
      }
    }
    @media(min-width: 1000px) {
      &:nth-of-type(1) {
        padding-left: 15%;
      }
      &:nth-of-type(2) {
        padding-right: 15%;
      }
    }
    @media(min-width: 1200px) {
      &:nth-of-type(1) {
        padding-left: 20%;
      }
      &:nth-of-type(2) {
        padding-right: 20%;
      }
    }
  }
}
#menus {
  width: 100%;
  height: 100vh;
  h1 {
    margin-bottom: 5vh;
  }
  .col-sm-4 {
    h2 {
      margin-bottom: 3vh;
    }
    @media(max-width: 768px) {
      margin-top: 5vh;
    }
  }
  a {
    padding: 11px 24px;
  }
}
#photos {
  width: 100%;
  height: 100vh;
}
#events {
  width: 100%;
  h1 {
    margin-bottom: 5vh;
  }
  .col-sm-6 {
    @media(min-width: 768px) {
      &:nth-of-type(1) {
        padding-left: 10%;
      }
      &:nth-of-type(2) {
        padding-right: 10%;
      }
    }
  }
  .book-event {
    float: left;
    width: 100%;
    margin-top: 4vh;
    a {
      padding: 11px 24px;
    }
  }
}
#contact {
  width: 100%;
  height: 100vh;
  h1 {
    margin-bottom: 7vh;
  }
  h3 {
    margin-bottom: 2vh;
  }
  a {
    background-color: transparent;
    border: 0;
    padding: 0;
    transition: 0.25s all ease;
    -webkit-transition: 0.25s all ease;
    -moz-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    &:hover {
      color: #8b6e4a;
      text-decoration: none;
    }
  }
}
#press {
  width: 100%;
  height: 100vh;
}
.line-sep{
position: absolute;
left: 30%;
margin-top: 3vh;
width:70px;
height:70px;
@media(max-width: 544px) {
  display: none;
}
}

.line-sep:after{
content:"";
position:absolute;
border-top:1px solid #ffffff;
  width:70px;
  transform: rotate(10deg);
  transform-origin: 0% 0%;
}
.line-sep2{
position: absolute;
right: 30%;
margin-top: 3vh;
width:70px;
height:70px;
@media(max-width: 544px) {
  display: none;
}
}

.line-sep2:after{
content:"";
position:absolute;
border-top:1px solid #ffffff;
  width:70px;
  transform: rotate(10deg);
  transform-origin: 0% 0%;
}
