nav {
  ul {
    li {
      margin-left: 0 !important;
      padding: 0 1.25%;
      padding-top: 1vh !important;
      .active {
        border-top: 2px solid #8b6e4a;
      }
    }
  }
}
@media (min-width: 768px) {
  nav {
    ul {
      li {
        padding: 0 2.5%;
      }
    }
  }
}
@media (min-width: 34em) {
  nav {
    .navbar-toggleable-xs {
      ul {
        text-align: center;
        li {
          float: none !important;
          display: inline-block;
          margin: 2vh 0; //was 4rem
          text-transform: uppercase;
          a {
            color: #E5E1D7;
            transition: 0.25s all ease;
            -webkit-transition: 0.25s all ease;
            -moz-transition: 0.25s all ease;
            -o-transition: 0.25s all ease;
            &:hover {
              color: #8b6e4a !important;
              opacity: 0.8;
            }
          }
        }
        #nav-logo {
          width: 188px;
          padding: 0;
          #westlight {
            width: 100%;
          }
        }
      }
    }
  }
}
