@font-face {
  font-family: 'Futura';
  src: url('fonts/Futura2.ttf');
}
@font-face {
  font-family: 'Marion';
  src: url('fonts/Marion.ttc');
}
body {
  font-family: 'Futura', sans-serif;
  color: #ffffff;
}
h1 {
  font-family: 'Futura', sans-serif;
  font-size: 24px;
  letter-spacing: 1pt;
  font-weight: 600;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 6.25px;
}
h4 {}
h5 {}
h6 {}
p {
  font-family: 'Marion', serif;
  line-height: 1.25;
  font-size: 16px;
}
a {
  color: #ffffff;
  font-size: 8px;
  &:visited {
    color: #ffffff;
    text-decoration: none;
  }
  &:active {
    color: #ffffff;
    text-decoration: none !important;
  }
  &:focus {
    text-decoration: none;
  }
}
@media(min-width: 768px) {
  h1 {
    font-size: 32.5px;
  }
  h2 {
    font-size: 18.75px;
  }
  h3 {
    font-size: 12.5px;
  }
  h4 {}
  h5 {}
  h6 {}
  p {
    font-size: 20px;
  }
  a {
    font-size: 10px;
  }
}
@media(min-width: 992px) {
  p {
    font-size: 21px;
  }
  a {
    font-size: 14.5px; //was 12.5
  }
}
nav {
  letter-spacing: 1pt;
}
#about,
#events {
  .col-xs-12 {}
  p {
    white-space: pre-wrap;
  }
}
#events {
  h1 {
    font-weight: 500;
  }
  h2 {
    font-size: 18px;
    @media(min-width: 768px) {
      font-size: 22.5px;
    }
  }
}
#menus {
  h1 {}
  h2 {
    letter-spacing: 2pt;
  }
  a {
    letter-spacing: 1pt;
    &:visited {
      color: #ffffff;
      text-decoration: none;
    }
    &:focus {
      color: #ffffff;
      text-decoration: none;
    }
    &:active {
      color: #ffffff;
      text-decoration: none;
    }
  }
}
#contact {
  h3 {
    letter-spacing: 2pt;
  }
  .row {
    .col-xs-12 {
      .col-sm-4 {
        &:nth-of-type(1) {
          p {
            font-size: 13px;
            @media(min-width: 768px) {
              font-size: 17px;
            }
            @media(min-width: 992px) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
footer {
  letter-spacing: 1pt;
}
#mobileNav {
  ul {
    list-style: none;
    li {
      font-family: 'Futura' sans-serif;
      line-height: 25px;
      letter-spacing: 2pt;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      a {
        text-decoration: none;
        font-size: 12.5px;
        transition: 0.25s all ease;
        -webkit-transition: 0.25s all ease;
        -moz-transition: 0.25s all ease;
        -o-transition: 0.25s all ease;
        &:hover {
          color: #8b6e4a !important;
          opacity: 0.8;
        }
      }
    }
  }
}
