@font-face {
  font-family: 'Futura';
  src: url('fonts/Futura.ttc');
}
@font-face {
  font-family: 'Marion';
  src: url('fonts/Marion.ttc');
}
body {
  font-family: 'Futura', sans-serif;
  color: #ffffff;
}
h1 {
  font-family: 'Marion', serif;
  font-size: 24px;
  letter-spacing: 1pt;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 6.25px;
}
h4 {}
h5 {}
h6 {}
p {
  font-family: 'Marion', serif;
  line-height: 1.25;
  font-size: 16px;
}
a {
  color: #ffffff;
  font-size: 8px;
  &:visited {
    color: #ffffff;
    text-decoration: none;
  }
  &:active {
    color: #ffffff;
    text-decoration: none !important;
  }
  &:focus {
    text-decoration: none;
  }
}
@media(min-width: 768px) {
  h1 {
    font-size: 32.5px;
  }
  h2 {
    font-size: 18.75px;
  }
  h3 {
    font-size: 12.5px;
  }
  h4 {}
  h5 {}
  h6 {}
  p {
    font-size: 20px;
  }
  a {
    font-size: 10px;
  }
}
@media(min-width: 992px) {
  p {
    font-size: 23.75px;
  }
  a {
    font-size: 14.5px; //was 12.5
  }
}
nav {
  letter-spacing: 1pt;
}
#about,
#events {
  p {
    text-align: justify;
  }
}
#menus {
  h1 {}
  h2 {
    letter-spacing: 2pt;
  }
  a {
    letter-spacing: 1pt;
    &:visited {
      color: #ffffff;
      text-decoration: none;
    }
    &:focus {
      color: #ffffff;
      text-decoration: none;
    }
    &:active {
      color: #ffffff;
      text-decoration: none;
    }
  }
}
#contact {
  h3 {
    letter-spacing: 2pt;
  }
}
footer {
  letter-spacing: 1pt;
}
